@import url('https: //fonts.googleapis.com/css2?family=Mali&display=swap');
@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
body{
	font-family: 'Mali', cursive;
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;

}
header{
	height: 8rem;
	width: 80%;
    margin:auto;
	background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    }
.menu-bar {
	background-color: #0000009d;
	display: flex;
	justify-content: center;
	box-sizing: border-box
}
.item {
	color: #f5f5f5;
	background-color: transparent;
	font-size: 18px;
	display: inline-block;
	box-sizing: border-box;
	padding: 14px 20px;
    cursor: pointer;
}
.item.title {
	font-weight: 600
}
.item:hover {
	background-color: rgba(165, 165, 165, 0.1)
}
#card{
	margin-top: 2rem;
	display: flex;
	justify-content: center
}
.container{
	width: 40%;
	min-height: 40rem;
	background-color:#0000009d;
	text-align: center;
	font-size: 40px;
	color: whitesmoke
}
img{
	width: 200px;
	height: 200px;
	border-radius: 80%
}
#grid{
	margin-top: 2rem;
	display: grid;
	min-height: 40rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "menu1 menu2""menu3 menu4""menu5 menu6"
}
.square{
	justify-self: center;
	height: 200px;
	width: 200px;
    color: black;
    font-size:x-large;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 5s infinite;
  -webkit-animation: blink 5s infinite;
}
.square:hover{
	scale: 1.1
}
.menu1{
	grid-area: "menu1";
	background-image: url("menu1.jpg")
}
.menu2{
	grid-area: "menu2";
	background-image: url("menu2.jpg")
}
.menu3{
	grid-area: "menu3";
	background-image: url("menu3.jpg")
}
.menu4{
	grid-area: "menu4";
	background-image: url("menu4.jpg")
}
.menu5{
	grid-area: "menu5";
	background-image: url("menu5.jpg")
}
.menu6{
	grid-area: "menu6";
	background-image: url("menu6.jpg")
}




.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    letter-spacing: 10; 
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 100px;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #f0b2b2, 0 0 1.5rem #ff0a0a,
      -0.2rem 0.1rem 1rem #ff0a0a, 0.2rem 0.1rem 1rem #ff0a0a,
      0 -0.5rem 2rem #ff0a0a, 0 0.5rem 3rem #ff0a0a;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff0a0a,
        -0.2rem 0.1rem 1rem #ff0a0a, 0.2rem 0.1rem 1rem #ff0a0a,
        0 -0.5rem 2rem #ff0a0a, 0 0.5rem 3rem #ff0a0a;
    }
    28%,
    33% {
      color: #ff0a0a;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff0a0a;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff0a0a,
        -0.2rem 0.1rem 1rem #ff0a0a, 0.2rem 0.1rem 1rem #ff0a0a,
        0 -0.5rem 2rem #ff0a0a, 0 0.5rem 3rem #ff0a0a;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  